.inputModalContainer {
  position: fixed;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  max-width: 400px;
  padding: var(--spacing-large) var(--spacing-large);
  border-radius: var(--border-radius-large);
  background-color: var(--color-primary-bg);
}

.formTitle {
  padding-bottom: var(--spacing-small);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-small);
}

.incomeExpensesButtonsContainer {
  width: 100%;
  border-radius: var(--border-radius-large);
  background-color: var(--color-seconary-bg);
  display: flex;
  justify-content: space-between;
}

.incomeExpensesButtons {
  flex-basis: 50%;
  background-color: transparent;
  color: var(--color-secondary-text);
  font-size: inherit;
  transition: opacity 0.25s;
  transition: background 0.25s;
}

.incomeExpensesButtons:hover {
  opacity: 0.8;
}

.incomeExpensesButtonActive {
  padding: var(--spacing-small) var(--spacing-small);
  border-radius: var(--border-radius-large);
  color: var(--color-white-text);
  background: var(--color-gradient-ramp1-solid);
  background: var(--color-gradient-ramp1);
}

.label {
  padding-top: var(--spacing-medium);
  font-weight: 600;
}

.titleInput {
  width: 100%;
  padding: var(--spacing-x-small) var(--spacing-small);
  border: none;
  border-radius: var(--border-radius-medium);
  color: inherit;
  background-color: var(--color-seconary-bg);
}

.amountInput {
  width: 80%;
  margin: 0 auto;
  padding: var(--spacing-medium) var(--spacing-large);
  border: 0;
  border-radius: 4rem;
  font-size: var(--font-size-large);
  text-align: center;
}

.select {
  width: 100%;
  padding: var(--spacing-x-small) var(--spacing-small);
  border: none;
  border-radius: var(--border-radius-medium);
  color: inherit;
  background-color: var(--color-seconary-bg);
}

.transactionsList {
  padding: var(--spacing-medium) 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-small);
}

.textInput {
  width: 100%;
  padding: var(--spacing-x-small) var(--spacing-small);
  border: none;
  border-radius: var(--border-radius-medium);
  color: inherit;
  background-color: var(--color-seconary-bg);
}

.date {
  width: 100%;
  height: var(--font-size-base);
  padding: var(--spacing-medium) var(--spacing-medium);
  border: none;
  border-radius: var(--border-radius-medium);
  color: inherit;
  background-color: var(--color-seconary-bg);
  text-align: center;

  /* Fix for mobile Safari */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.errorContainer {
  padding-top: var(--spacing-small);
}

.error {
  text-align: center;
  color: var(--color-primary-red);
}

.submitCancelButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.button {
  width: 100%;
  padding: var(--spacing-small) var(--spacing-small);
  border: none;
  border-radius: var(--border-radius-medium);
  text-align: center;
  font-weight: 600;
  color: var(--color-white-text);
  transition: opacity 0.25s;
}

.button:hover {
  opacity: 0.8;
}

.submitButton {
  margin-top: var(--spacing-medium);
  background-color: rgb(92, 196, 92);
}

.deleteButton {
  background-color: var(--color-primary-red);
}

.cancelButton {
  background-color: rgb(202, 202, 202);
}
